body {
    --NS-yellow: #FFC917;
    --NS-blue: #003082;
    --NS-lightblue: #0063D3;
    --NS-white: #FFFFFF;
    --NS-Background-color: #E6E6E9;
    --NS-error-color: #DB0029;
    --NS-success-color: #009A42;
    --NS-textlink-color: #0079D3;
    --NS-buttonhover-blue: #005CA0;
    --NS-buttonhover-yellow: #FFB519;
    background: var(--NS-Background-color);
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

section>* {
    max-width: 1200px;
}

form{
    background: var(--NS-yellow);
    fieldset{
        border: 0;
    }
    fieldset fieldset{
        background: var(--NS-white);
    }
    >fieldset {
        display: grid;
        border: 0;
        gap: 28px;
    }
}

#vraag1a {
    label {
        display: flex;
        flex-direction: column;
    }
}

.btn{
    all: unset;
    padding: 10px 18px;
    background: var(--NS-lightblue);
    color: var(--NS-white);
    margin: 0.75em;
    border-radius: 4px;
    font-family: sans-serif;
    box-shadow: var(--NS-buttonhover-blue) 0px -2px 0px 0px inset;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.btn:hover{
    box-shadow: var(--NS-buttonhover-blue) 0px -40px 0px 0px inset;
}

.checkboxes{
    fieldset:nth-of-type(1){
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:920px){
    form {
        width: 912px;
    }
    
    #vraag1a{
        fieldset:nth-of-type(1) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
    
            fieldset:nth-of-type(1) {
                grid-column-start: 1;
                grid-column-end: end;
    
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-between;
    
                label:not(:nth-last-of-type(1)) {
                    max-width: 90%;
                }
            }
    
            fieldset:nth-of-type(2) {
                grid-column-start: 1;
                grid-column-end: 2;
                width: 100%;
            }
    
            fieldset:nth-of-type(3) {
                grid-column-start: 2;
                grid-column-end: 3;
                width: 100%;
            }
    
            label {
                display: flex;
                flex-direction: column;
            }
        }
    }
}